:root{
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bgr-color: #F5F5F5;
    --second-text-color: #757575;
}
.button{
    
font-weight: 500;
font-size: 16px;
line-height: 26px;
border: 0;
}
.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.button.current{
    background-color: var(--accent-color);
    color: #ffffff;
}
 .images{
    text-decoration: none;
 }
.work-title{
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;

}
.work-text{
    font-size: 16px;
    line-height: 1.88;
    color: var( --second-text-color);

}

.item .link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.item .link-text{
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
