/* Колір основного тексту #212121 */
/* Колір вторинного тексту #757575*/
/* Колір фонових зображень #2F303A */
/* Колір фону #ffffff */
/* Колір вторинного фону  */

:root{
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --second-text-color: #757575;
}
h1,h2,h3,h4,p{
    margin-top: 0px;
}

.logo{
    color: #000000;
}
span{
    color: var(--accent-color);
}
.list{
    list-style: none;
}
.site-nav .link {
     color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
   color: var(--accent-color); 
}
.section .hero{
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero{
    background-color: #2F303A;
    text-align: center;
}
.hero-title{
    width: 693px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button{
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    letter-spacing: 0.06em;
    border: 0;
}
.title{
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section:nth-child(4n) {
background-color: #f5f4fa;
}

.section-title{
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}
.feature-text{
    width: 270px;
    margin-left: 30px;
}
.feature,
.work{
    display: flex;  
}
.feature .lst + .lst{
    margin-left: 45px;
}


.feature-list .title{
    color: var(--primary-text-color);
}

.text{
    line-height: 1.7;
    color: var(--second-text-color);

}
.about{
    padding-top: 0px; 
}
.work .lst + .lst{
    margin-left: 45px;
}
.command{
    display: flex;
}
.command .lst + .lst{
    margin-left: 45px;
}
.command-title{
    padding-top: 0px;
    margin-top: 30px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.command-text{
    padding-bottom: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    color: var(--second-text-color);
}

